name: Go test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint-and-test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.18
          - 1.19

    container:
      image: golang:${{ matrix.go-version }}

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          go mod download
          go install honnef.co/go/tools/cmd/staticcheck@latest
          staticcheck --version

      - name: Lint
        run: |
          sh ./scripts/linters.sh

      - name: Test
        run: |
          go test ./... -race

      - name: Go modules check
        run: |
          go mod tidy
          git status
          git diff
          test -z "$(git status --porcelain)"
